@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark2-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light2-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    overflow-y: hidden;
    font-family: 'Space Mono', monospace;
    background-color: var(--Light-grayish-cyan);
}

.container{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;

    img{
        width: 4.5vw;
    }
  
    .content{
        display: flex;
        gap: 2rem;
        background-color: var(--White);
        padding: 2rem;
        width: 45vw;
        border-radius: 10px;
        margin-top: -12rem;

        .input{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 50%;

            h4{
                font-size: 0.7rem;
                margin-bottom: 5px;
                color: var(--Dark-grayish-cyan);
            }

            input{
                border: none;
                padding: 0.5rem 0.2rem;
                background-color: var(--Light2-grayish-cyan);
                border-radius: 4px;
                color: var(--Strong-cyan);
                width: 100%;
            }

            input::placeholder{
                text-align: right;
                font-family: 'Space Mono', sans-serif;
            }

            .item1,.item2,.item3{
                margin-bottom: 1.3rem;
            }

            .item1{
                input{
                    background: url(./images/icon-dollar.svg);
                    background-position: 5%;
                    background-size: 3%;
                    background-repeat: no-repeat;
                }
            }

            .item3{
                input{
                    background: url(./images/icon-person.svg);
                    background-position: 5%;
                    background-size: 3%;
                    background-repeat: no-repeat;
                }
            }

            .item2{
                .btns{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 7px;
                    
                    button{
                        padding: 0.2rem 0.7rem;
                        color: var(--White);
                        outline: none;
                        border: none;
                        border-radius: 3px;
                        background-color: var(--Very-dark-cyan);
                        font-weight: 700;
                        font-size: 1.1rem;
                    }

                    .special{
                        background-color: var(--Light2-grayish-cyan);
                        color: var(--Dark-grayish-cyan);
                        font-size: 1rem;
                    }
                }
            }
        }

        .output-card{
            background-color: var(--Very-dark-cyan);
            width: 50%;
            padding: 1.6rem 1.4rem;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .output-wrapper{
                
                .output{ 
                    width: 100%;
                    display: flex;
                    align-items: center;  
                    justify-content: space-between;  
                    
                    h6{
                        color: var(--White);

                        span{
                            color: var(--Dark-grayish-cyan);
                        }
                    }
                    h4{
                        font-size: 2rem;
                        color: var(--Strong-cyan);
                    }
                }
            }

            button{
                width: 100%;
                border: none;
                outline: none;
                border-radius: 2px;
                padding: 0.4rem 0.1rem;
                text-transform: uppercase;
                color: var(--Dark-grayish-cyan);
                font-weight: 700;
                background-color: hsl(183, 73%, 24%);;
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }